<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="IoTGW" sequenceNumber="6">
<locations>
<location path="E:\IoTGWLatest\Product\plugins" type="Directory"/>
<location path="E:\IoTGWLatest\Product\plugins\spring" type="Directory"/>
</locations>
</target>
